
.clock {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: cornflowerblue;
  margin: 50px;
  position: relative;
}

.secondhand {
  position: absolute;
  height: 150px;
  width: 100px;
  mix-blend-mode: darken;
  left: 100px;
  transform-origin: center bottom;
}
